---
---

@import url("https://use.typekit.net/fuo1jfo.css");
@import url("https://use.fontawesome.com/releases/v5.5.0/css/all.css");

body {
  font-family: "halyard-text", sans-serif;
  font-weight: 300;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "halyard-micro", sans-serif;
  font-weight: 300;
  font-style: normal;
}
//header
header .logo img {
  max-height: 100px;
  max-width: 100%;
}
header .tag {
  font-family: "halyard-text", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.5rem;
  font-style: italic;
}
@media (min-width: 768px) {
  header .tag {
    font-size: 2.5rem;
  }
}

//card deck
.card-columns {
  -webkit-column-gap: 2rem;
  -moz-column-gap: 2rem;
  column-gap: 2rem;
}
@media (min-width: 576px) {
  .card-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
@media (min-width: 992px) {
  .card-columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}
.card-columns .card .card-title {
  font-size: 1.25rem;
}
.card-columns .card {
  margin-bottom: 2rem;
}
// modals
.modal-backdrop.show {
  opacity: 0.8;
}
//footer
footer #fit-logo {
  height: 25px;
}
