<!doctype html>
<html lang="en" class="h-100">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-164518686-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-164518686-1');
  </script>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Icon -->
  <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- styles -->
  <link rel="stylesheet" href="/assets/style.css" />

  <title>{{ site.title }}</title>
</head>

<body class="d-flex flex-column h-100">
  <a class="sr-only sr-only-focusable" href="#main">Skip to main content</a>
  <header class="jumbotron jumbotron-fluid flex-shrink-0 border-bottom">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-auto">
          <a href="/" class="logo">
            <h1 class="sr-only">The FITting Room</h1>
            <img src="/assets/images/fittingRoom-logo.png" alt="The FITing Room logo">
          </a>
        </div>
      </div>
      <div class="row justify-content-center mt-2">
        <div class="col-auto">
          <h2 class="tag">Try on a piece of history</h2>
        </div>
      </div>
      <div class="row justify-content-center mt-3">
        <div class="col-lg-8 col-xl-6">
          <p class="lead">This new Augmented Reality experience from the FIT Library allows you to try on accessories featured in original fashion sketches. Just press <i class="fas fa-play-circle" data-toggle="tooltip" data-placement="top"
              title="Click on the 'play' button below each image to launch the AR experience"></i> to launch the experience. Or click
            <i class="fas fa-qrcode" data-toggle="tooltip" data-placement="top" title="Click on the 'QR' button below each image to grab a code you can scan with your smartphone"></i> to grab a QR Code. Share it with <a
              href="https://www.instagram.com/explore/tags/SPARCfittingroom/?hl=en">#SPARCfittingroom</a></p>
        </div>
      </div>
    </div>
  </header>
  <main role="main" class="flex-shrink-0 my-4" id="main">
    {{ content }}
  </main>
  <footer class="mt-auto py-5 bg-light border-top">
    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-5">
          <a href="https://www.fitnyc.edu">
            <img class="mb-3" src="/assets/images/wordmark-black-1-line.png" alt="FIT SUNY Logo" id="fit-logo">
          </a>
          <p class="small">
            ©{{ "now" | date: "%Y" }} Fashion Institute of Technology
            <br>
            All rights reserved.
          </p>
          <p class="text-left">This site is an initiative of the FIT Library and features rare and unique materials from our <a href="https://www.fitnyc.edu/library/sparc/">Special Collections and College Archives (SPARC)</a>. The Augmented Reality
            experience was
            built using the <a href="https://www.zappar.com/">Zappar</a> platform with support from the <a href="https://www.fitnyc.edu/frs/">FIT Faculty Research Space</a>.</p>
          <ul class="list-inline mb-0">
            <li class="list-inline-item"><a class="text-muted" href="https://www.fitnyc.edu/library/" aria-label="FIT Library Homepage"><i class="fas fa-home" aria-hidden="" title="FIT Library Homepage"></i></a></li>
            <li class="list-inline-item"><a class="text-muted" href="https://www.facebook.com/FITLibrary" aria-label="FIT Library Facebook"><i class="fab fa-facebook" aria-hidden="" title="FIT Library Facebook"></i></a></li>
            <li class="list-inline-item"><a class="text-muted" href="https://twitter.com/FITLibrary" aria-label="FIT Library Twitter"><i class="fab fa-twitter" aria-hidden="" title="FIT Library Twitter"></i></a></li>
            <li class="list-inline-item"><a class="text-muted" href="http://pinterest.com/fitlibrary/" aria-label="FIT Library Pinterest"><i class="fab fa-pinterest-p" aria-hidden="" title="FIT Library Pinterest"></i></a></li>
            <li class="list-inline-item"><a class="text-muted" href="https://www.instagram.com/fitnyclibrary/" aria-label="FIT Library Instagram"><i class="fab fa-instagram" aria-hidden="" title="FIT Library Instagram"></i></a></li>

          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/1ddf8635da.js" crossorigin="anonymous"></script>
  <script type="text/javascript">
    $(function() {
      $('[data-toggle="tooltip"]').tooltip({
        trigger: "hover"
      });
      $('.modal').on('show.bs.modal', function(e) {
        $(e.relatedTarget).children('[data-toggle="tooltip"]').tooltip('hide');
      });
    });
  </script>
</body>

</html>